*{
    box-sizing: border-box;
}
.searchBar {
    width: 50%;
}
.photo {
    padding: 50px;
    position: center;
}
.output {
    outline-style: double;
    outline-color: gray;
    float: left;
    width: 30%;
    padding: 10px;
    border: 1px solid black;
}
.repos {
    outline-style: double;
    outline-color: gray;
    float: right;
    width: 68%;
    padding: 10px;
    border: 1px solid black;
}