.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto ;
  grid-gap: 5px;
  background-color: grey;
  padding: 10px;
}
.grid-container1 {
  border-radius: 20px;
  padding: 10px;
  margin-right: 240px;
  margin-left: 240px;
  border-style: groove;
  background-color: lightgrey;
}
.button {
  background-color: lightgrey;
  text-align: center;
  font-size: 20px;

}
.item1 {
  text-align: center;
  grid-column: 1 / 5;
  padding: 20px 0;
  font-size: 30px;
  border-style: groove;

}
.grid-container > div {
  border-radius: 20px;
  background-color: lightgrey;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border-style: outset;
}
